<div class="pagination-bx rounded-sm gray clearfix">
    <ul class="pagination">
        {%if page.has_previous %}
            <li class="previous"><i class="fa fa-angle-double-left"></i><a href="?page={{ page.previous_page_number }}"><i class="ti-arrow-left"></i> Prev</a></li>
        {% endif %}
        <li class="active"> <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span> </li>
        {% if page.has_next %}
            <li class="next"><i class="fa fa-angle-double-right"></i><a href="?page={{ page.next_page_number }}">Next <i class="ti-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</div>