{% for post in latest_posts %}
<div class="widget-post clearfix">
    <div class="ttr-post-media"> <img src="{{ post.image.url }}" width="200" height="143" alt=""> </div>
    <div class="ttr-post-info">
        <div class="ttr-post-header">
            <h6 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}.</a></h6>
        </div>
        <ul class="media-post">
            <li><a href="#"><i class="fa fa-calendar"></i>{{post.publish}}</a></li>
            <li><a href="#"><i class="fa fa-comments-o"></i>{{ post.comments.count }} comment{{ post.comments.count|pluralize }}</a></li>
        </ul>
    </div>
</div>
{% endfor %}
